[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restplus = "==0.13.0"
flask-marshmallow = "==0.14.0"
marshmallow-sqlalchemy = "==0.24.1"
aniso8601 = "==9.0.1"
attrs = "==21.2.0"
click = "==8.0.1"
colorama = "==0.4.4"
greenlet = "==1.1.0"
importlib-metadata = "==4.5.0"
itsdangerous = "==2.0.1"
jsonschema = "==3.2.0"
marshmallow = "==3.12.1"
pyrsistent = "==0.17.3"
pytz = "==2021.1"
six = "==1.16.0"
typing-extensions = "==3.10.0.0"
zipp = "==3.4.1"
Flask = "==1.1.2"
Flask-SQLAlchemy = "==2.5.1"
Jinja2 = "==3.0.1"
MarkupSafe = "==2.0.1"
SQLAlchemy = "==1.4.18"
Werkzeug = "==0.16.1"
flask-script = "*"
flask-migrate = "*"

[dev-packages]

[requires]
python_version = "3.7"
